---
import Layout from '../layouts/Layout.astro'
---

<Layout title='About the project'>
  <h1 class='text-5xl font-semibold text-center py-4 text-white'>
    About the project
  </h1>
  <p
    class='[text-wrap:balance] text-center text-white font-extralight text-xl py-3 max-w-2xl m-auto'
  >
    The SpaceX launches project is a demonstration of an Astro course, it uses
    the <a
      href='https://api.spacexdata.com/v5/launches'
      target='_blank'
      class='text-transparent bg-clip-text bg-gradient-to-r to-indigo-500 from-pink-500 font-bold'
      >SpaceX API</a
    > and shows a list of launches.
  </p>
</Layout>
