---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title='SpaceX Launches - @abrahamgalue'>
  <main>
    <h1 class='text-6xl text-white font-bold'>SpaceX Launches 🚀</h1>
  </main>
</Layout>
